---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

const title = "Welcome to Astro"
---

<Layout title={title}>
	<main>
		<Header text={title} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
