---
// 型定義
export interface Props {
    text: string;
}

// ここでPropsを受け取る
const { text } = Astro.props;
---

<div>
    <!-- そのまま使える -->
    <h1>{text}</h1>
</div>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
